body{
    background-image: url("../images/darkness.png");
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
}
#mainTitle {

    font-family: Death-Star, sans-serif;
    color: white;
    text-align: center;
    font-size: 85px;
    text-shadow: 7px 7px 7px black;

}
h2 {
    font-family: aliens-and-cows, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    color: cadetblue;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    border-block-end-width: 5px;
}

/* Add style for all player and buttons on page */
/*Where characters are appended initially*/
#players {
	width:100%;
	display: inline-block;
}

.character {
	font-family: aliens-and-cows, sans-serif;
	font-size: 20px;
	float: left;
	text-align: center;
	display:block;
	width:200px;
	margin: 10px 0;
}
/*==================================*/

.PlayerName, .PlayerHealth {
	color: cadetblue;
	width:100%;
	margin: 0 auto;
}

.characterHealth {
	font-family: sans-serif;
	font-size:20px;
}

.image {
	width:100%;
	display:block;
	margin: auto;
}

.title {
	text-align: center;
	font-size: 20px;
	color: cadetblue;
	font-family: aliens-and-cows, sans-serif;
	text-decoration: underline;
}

/*Picking a character*/
.yourCharacter, .currentEnemy {
	font-family: aliens-and-cows, sans-serif;
	font-size: 20px;
	clear:all;
	text-align: center;
	display:block;
	width:250px;
	margin: 10px auto;
}

.enemy {
	font-family: aliens-and-cows, sans-serif;
	font-size: 30px;
	clear:all;
	text-align: center;
	display:inline-block;
	width:200px;
	margin: 10px 95px;

}

#lightSabers {
	margin-top: 60px;
	width: 100%;
}

.restart {
	text-align: center;
}

.restartBtn {
	margin-top: 300px;
}
